html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: url(hero.jpg) no-repeat 50% 50%;
  background-size: cover;
  overflow: hidden;
}
.titre {
  margin-top: 20%;
  text-align: center;
  font-family: "Smythe";
  color: #c89253;
  font-size: 6vw;
}
.subTitle{
  text-align: center;
  font-family: "Smythe";
  color: #c89253;
  font-size: 6vw;
}

.legende {
  text-align: center;
  font-family: "Great Vibes";
  color: #fff;
  font-size: 2vw;
}

.liens {
  text-align: center;
  margin-top : 5%;
}

button {
  background: none;
  padding: 0.8vw 0.12vh;
  color: #c89253;
  border: 1px solid #c89253;
  text-transform: uppercase;

}

button a,.sl section,.sl ul li{
  font-family: "Smythe";
  color: #c89253;
  text-decoration: none;
}

button:focus {
  outline: none;
  border: none;
}

button:hover {
  background: #c89253;
  color: #110b07;
}

#navbar{
   display:flex;
   flex-wrap:wrap;
}

#navbar a,header a{
   border:thin solid;
   width:30vw;
   font-size:3vh;
   text-align:center;
   margin:0.5vw;
   padding:0.2vw;

}

 h1{
    width:100vw;
    text-align: center;
 }

.imgbout{
   width:9vw;
   height: 18vh;

}
li{
   list-style:none;
}
#cave{
   display:flex;
   flex-wrap: wrap;
   flex-direction:row;
}

#cave section{
   border:thin solid #c89253;
   margin:0.5vw;
   width:15vw;

}
#cave section img{
   margin-top:0.5vh;
   margin-left:2.8vw;

}

#cave section ul{
   margin-right:0.5vw;
}



#catalogue{
   display: flex;
   flex-wrap: wrap;
   flex-direction:row;
}

#catalogue section img{
   margin-top:0.5vh;

}

#catalogue section p{
   margin-right:0.5vw;
}

#catalogue section{
   margin:0.5vw;
   width:15vw;

}
