html, body {
  margin: 0;
  padding: 0;
  background: url(hero.jpg);
  background-size: cover;
}

.subTitle{
  text-align: center;
  font-family: "Smythe";
  color: #c89253;
  font-size: 6vw;
  margin-top: 1%;
  margin-bottom: 1%;
}

button {
  background: none;
  padding: 0.8vw 0.12vh;
  color: #c89253;
  border: 1px solid #c89253;
  text-transform: uppercase;
}

button a,.sl section,.sl ul li,.sl p{
  font-family: "Smythe";
  color: #c89253;
  text-decoration: none;
  font-size: 1.2vw;
}

button:focus {
  outline: none;
  border: none;
}

button:hover {
  background: #c89253;
  color: #110b07;
}

header a{
   width:30vw;
   font-size:3vh;
   margin:0.5vw;
   padding:0.2vw;

}
header{
  text-align: center;
  margin-bottom: 4%;
}

.imgbout{
   width:10vw;
   height: 18vh;
}

li{
   list-style:none;
}

#catalogue{
   display:flex;
   flex-wrap: wrap;
   flex-direction:row;
}

#catalogue section{
   display:flex;
   flex-wrap:wrap;
   flex-direction:row;
   border:thin solid #c89253;
   margin:0.5vw;
   width:22vw;
   margin-left: 1.8vw;
}

#catalogue section img{
   margin:0.5vh;
   margin-right: 1vw;
   height: 11vw;
   width:10vw;
}

#cave ul{
   padding-left:0;
}

#catalogue ul{
   padding-left:0;
}

#cave{
   display: flex;
   flex-wrap: wrap;
   flex-direction:row;
}

#cave section img{
   margin-top:0.5vh;
}

#cave section{
   margin:0.5vw;
   width:15vw;
   text-align:center;
}
