html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: url(hero.jpg) no-repeat 50% 50%;
  background-size: cover;
  overflow: hidden;
}
h2 {
  margin-top: 10%;
  text-align: center;
  font-family: "Smythe";
  color: #c89253;
  font-size: 8vw;
}

p {
  text-align: center;
  font-family: "Smythe";
  color: #fff;
  font-size: 2vw;
  display: inline-block;
  padding-left: 2%;

}
.formulaire{
  width: 100%;
  text-align: center;
}

.bouton{
  background: none;
  color: #c89253;
  border: 1px solid #c89253;
  text-transform: uppercase;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 1%;
  margin-right: 1%;
  font-family: "Smythe";
  color: #c89253;
  font-size: 1.5vw;
}


.bouton:focus {
  outline: none;
  border: none;
}

.bouton:hover {
  background: #c89253;
  color: #110b07;
}
.bas{
  margin-top: 2%;
  text-align: center;
}
