html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: url(hero.jpg) no-repeat 50% 50%;
  background-size: cover;
  overflow: hidden;
}
.titre {
  margin-top: 24vh;
  text-align: center;
  font-family: "Smythe";
  color: #c89253;
  font-size: 8vw;
}

.legende {
  text-align: center;
  font-family: "Great Vibes";
  color: #fff;
  font-size: 2vw;
  margin-top: 1%;
}

.liens {
  text-align: center;
  margin-top : 5%;
}

button {
  background: none;
  color: #c89253;
  border: 1px solid #c89253;
  text-transform: uppercase;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 1%;
  margin-right: 1%;

}

button a{
  font-family: "Smythe";
  color: #c89253;
  text-decoration: none;
  font-size: 1.5vw;
}

button:focus {
  outline: none;
  border: none;
}

button:hover {
  background: #c89253;
  color: #110b07;
}
