html, body {
  margin: 0;
  padding: 0;
  background: url(hero.jpg);
  background-size: cover;
}

h1{
  margin-top: 0.5%;
  text-align: center;
  font-family: "Smythe";
  color: #c89253;
  font-size: 5vw;
}

h2 {
  margin-top: 2%;
  text-align: center;
  font-family: "Smythe";
  color: #c89253;
  font-size: 3vw;
}

h3 {
  margin-top: 4%;
  text-align: center;
  font-family: "Smythe";
  color: #c89253;
  font-size: 2vw;
}

form{
  font-family: "Great Vibes";
  color: #fff;
  font-size: 1.7vw;
  width: 100%;

}
.partiegauche{
  width: 49%;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.partiedroite{
  width: 49%;
}
.centre{
  display: flex;
  flex-wrap: wrap;
}
.bouton: {
  outline: none;
  border: none;
}
.bouton{
  border: 0.1vw solid #c89253;
  background: none;
  color: #c89253;
  padding: 1.5%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 5%;
}
.bouton:hover {
  background: #c89253;
  color: #110b07;
}
.carac{
  width: 100%;
  text-align: left;
}
form input{
  width: 50%;
}
.info{
  width: 100%;
}
.validation{
  width: 100%;
  text-align: center;
}
.minibouton{
  width: 1%;
}
.texteinfo{
  width: 30%;
  margin: 0;
  display: inline-block;
  margin-bottom: 1%;
  margin-left: 2%;
}
.domaineex{
  width: 32%;
  display: inline-block;
}
form select{
  width: 50%;
}
button {
  background: none;
  width: 8vw;
  height: 8vh;
  color: #c89253;
  border: 1px solid #c89253;
  text-transform: uppercase;
}

a{
  font-family: "Smythe";
  color: #c89253;
  text-decoration: none;
  font-size: 1.2vw;
}


button:focus {
  outline: none;
  border: none;
}

button:hover {
  background: #c89253;
  color: #110b07;
}
.pasconnec{
  text-align: center;
}
.retour{
  margin-left: 1%;
  margin-top: 1%;
}
footer{
  padding-top: 3%;
  width: 100%;
  font-family: "Smythe";
  color: #c89253;
  font-size: 1.2vw;
  text-align: center;
}
